<div class="container-fluid bg-black p-5">
    <div class="container">
        <div class="text-primary text-uppercase my-4 text-center pt-5">CUSTOMER FEEDBACK</div>
        <h3 class="font-family-'Oswald' my-4 text-white text-center" style="font-size: 42px;">What Our Clients Say
        </h3>
        <!-- Testimonial 3 - Bootstrap Brain Component -->
        <section class="bg-black py-5 py-xl-8">
            <div class="container overflow-hidden">
                <div class="slick-Slider row gy-4 gy-md-0 gx-xxl-5"  slick-slider="{ slidesToShow: 4, slidesToScroll: 2, arrows: false, dots:false, responsive:[ {
                    breakpoint: 1200, settings: { slidesToShow: 3} }, { breakpoint: 992, settings: { slidesToShow: 2 }
                    }, { breakpoint: 768, settings: { slidesToShow: 1} }, { breakpoint: 300, settings: 'unslick' } ] }">
                    <div class="col-12 col-md-3">
                        <div class="card border-0 shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev1.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">Frederick S.France</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Web Designer</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card border-0  shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev2.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">James M.London</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Lawyer</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card border-0 shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev3.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">Olivia D.New York</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Dentist</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card border-0 shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev1.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">Frederick S.France</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Web Designer</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card border-0 shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev2.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">James M.London</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Lawyer</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="card border-0 shadow-sm">
                            <div class="d-flex justify-content-center align-items-center">
                                <img class="img-fluid rounded rounded-circle " loading="lazy" src="/img/rev3.jpg"
                                    alt="" style="width: 80px; margin-bottom: -30px; z-index: 100;">
                            </div>
                            <div class="card-body p-4 p-xxl-5 bg-dark text-center">
                                <figure>
                                    <div class="text-center">
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                        <i class="bi bi-star-fill star-gold"></i>
                                    </div>
                                    <figcaption>
                                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="5"
                                            data-bsb-star-off="0"></div>
                                        <blockquote
                                            class="bsb-blockquote-icon mb-4 text-secondary font-family-'Oswald'">Sed
                                            ut perspiciatis unde omnis iste natus error voluptate accusantium
                                            doloremque</blockquote>
                                        <h5 class="mb-2 text-light">Olivia D.New York</h5>
                                        <h5 class="fs-6 mb-0 text-primary">Dentist</h5>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
