<div class="bg-black pt-5">
    <div class="container">
        <footer class="text-center text-lg-start text-white">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <img src="img/logo.png" alt="" width="40%">


                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Working Hours</h6>
                            <ul>
                                <li class="mb-2">Sunday - Thursday <br>
                                    <span class="text-primary">08:00 am - 09:00pm</span>
                                </li>
                                <li class="mb-2">Only Friday <br>
                                    <span class="text-primary">08:00 am - 09:00pm</span>
                                </li>
                                <p style="color: #ff8a00; font-family: Merienda; font-size: 22px;">Saturday Close
                                </p>
                            </ul>
                        </div>

                        <div class="col-md-2 col-lg-4 col-xl-3 mx-auto ">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Working Hours</h6>
                            <ul>
                                <div class="row ">
                                    <div class="col-12 col-lg-2">
                                        <i class="bi bi-geo-alt text-primary" style="font-size: 30px;"></i>
                                    </div>
                                    <div class="col-12 col-lg-10 text-secondary ">
                                        <h6 class="font-family-'Oswald' text-primary">Location :</h6>
                                        <p class="text-light">55 Main Street, New York</p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-12 col-lg-2">
                                        <i class="bi bi-envelope-paper text-primary" style="font-size: 30px;"></i>
                                    </div>
                                    <div class="col-12 col-lg-10 text-secondary ">
                                        <h6 class="font-family-'Oswald' text-primary">Email Address :</h6>
                                        <p class="text-light">kaffendev@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-12 col-lg-2">
                                        <i class="bi bi-telephone text-primary" style="font-size: 30px;"></i>
                                    </div>
                                    <div class="col-12 col-lg-10 text-secondary ">
                                        <h6 class="font-family-'Oswald' text-primary">Phone Number :
                                        </h6>
                                        <p class="text-light">+012 (345) 678 99</p>
                                    </div>
                                </div>

                            </ul>

                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Gallery</h6>
                            <div class="container mt-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="img/grid_gal1.jpg" class="img-gird_gal" alt="Image 1">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="img/img4.jpg" class="img-gird_gal" alt="Image 2">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="img/img5.jpg" class="img-gird_gal" alt="Image 3">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <img src="img/img6.jpg" class="img-gird_gal" alt="Image 4">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="img/img7.jpg" class="img-gird_gal" alt="Image 5">
                                    </div>
                                    <div class="col-md-4">
                                        <img src="img/img8.jpg" class="img-gird_gal" alt="Image 6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2024 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Nhuy tran@</a>
            </div>
        </footer>
    </div>
</div>