<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 bg-black text-primary
        ">
            <i class="bi bi-clock"></i>OPENING HOURS : <label class="text-light">08:00 AM - 09:00 PM</label>
        </div>
        <div class="col-sm-4 bg-black text-white text-center"><i class="bi bi-facebook p-2"></i> <i
                class="bi bi-twitter p-2"></i><i class="bi bi-instagram p-2"></i><i class="bi bi-youtube p-2"></i>
        </div>
        <div class="col-sm-4 bg-black text-primary justify-content-between ">
            <i class="bi bi-geo-alt-fill text-primary"></i>LOCATION: <label class="text-light">55 MAIN STRESS, NEW
                YORK</label>
        </div>
    </div>
</div>
<!-- nav start  -->
<nav class="navbar bg-navbar navbar-expand-lg  text-light border-bottom border-body px-4" data-bs-theme="dark">
    <a class="navbar-brand" href="#">
        <img src="https://kaffen-reactjs.netlify.app/images/logo.png" alt="logo" width="118" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="index.html" role="button" aria-expanded="false">
                    HOME
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">COFFEE HOUSE</a></li>
                    <li><a class="dropdown-item" href="#">RESTAURANT</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!aboutUs" role="button" aria-expanded="false">
                    ABOUT
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                    MENU
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                    PAGES
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                    BLOG
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" aria-expanded="false">
                    CONTACTS
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#!Login" role="button" aria-expanded="false">
                    LOGIN
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!update">Update Account</a></li>
                </ul>
            </li>            
        </ul>
        <div class="booking">
            <button class="btn bg-primary" type="submit">BOOK A TABLE</button>
        </div>
    </div>
</nav>
